<style>
    .stylaz {
        font-family: 'Agency FB';
        padding: inherit;
        margin-bottom: auto;
        text-align: center;
        background-color: navajowhite;
        font-size: 27px;
        color: black;
    }
</style>
<div class="stylaz">

    @{
        ViewBag.Title = "More Information About Our Site!!";
    }
    <h2>@ViewBag.Title.</h2>

    <p>
        This is an online medical registration system that allows medical students to create profiles, logins, and the ability
        to submit their information and enable them to update or delete if necessary. This also would allow
        medical adminsistrators the ability to manage the submitted the information.
    </p>

</div>