
@{
    ViewBag.Title = "Home Page";
}

<style>
    #stylaz {
        font-family: 'Agency FB';
        padding: inherit;
        margin-bottom: auto;
        text-align: center;
        background-color: navajowhite;
        font-size: 36px;
        color: black;
    }
</style>


<div class="jumbotron" id="stylaz">
    <h1>Welcome Medical Experts!</h1>
    <p class="lead">Please login to your page! If you do not have an account, choose to register!</p>
    <p><a href="~/User/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p> 
    <p><a href="~/User/Registration" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            If you would like to know more about us, click here!
        </p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Contact us?</h2>
        <p>If you would like to contact us for further information, click here!</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Contact Us &raquo;</a></p>
    </div>
</div>